@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}

html,
body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
body {
	background-color: #ff3cac;
	background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
}

div.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #121212;
	border-radius: 10px;
	width: 80%;
	max-width: 300px;
}

div.panel div.progress {
	position: relative;
}

div.panel div.progress canvas {
	width: 100%;
}

div.panel div.progress div.percent {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
div.panel div.progress div.percent p {
	color: #fff;
	font-size: 13pt;
}

div.panel div.counter {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -15px;
	padding-bottom: 35px;
}

div.panel div.counter p {
	color: #fff;
	font-size: 15pt;
	text-align: center;
}
